.heading-2 {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009fe3), to(#dc0d15));
    background-image: linear-gradient(180deg, #009fe3, #dc0d15);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .blur {
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 100%, 0.8) !important;
}

.shadow-blur {
    box-shadow: inset 0 0 1px 1px hsla(0, 0%, 99.6%, 0.9),
        0 20px 27px 0 rgba(157, 157, 157, 0.528) !important;
}

.shadow-blur-big-card {
    box-shadow: inset 0 0 1px 1px hsla(0, 0%, 99.6%, 0.5),
        0 10px 13px 0 rgba(157, 157, 157, 0.25) !important;
}

.shadow-blur-basic-card {
    box-shadow: inset 0 0 0px 0px rgba(241, 210, 211, 0.9),
        0 8px 8px 0 rgba(241, 210, 211, 0.369) !important;
}

.warning-shadow-blur {
    box-shadow: inset 0 0 1px 1px rgba(251, 140, 0, 0.9),
        0 20px 27px 0 rgba(251, 140, 0, 0.528) !important;
}

.info-shadow-blur {
    box-shadow: inset 0 0 1px 1px rgba(33, 150, 243, 0.9),
        0 20px 27px 0 rgba(33, 150, 243, 0.3) !important;
}

.success-shadow-blur {
    box-shadow: inset 0 0 0px 0px rgba(84, 178, 86, 0.9),
    0 4px 4px 0 rgba(84, 178, 84, 0.3) !important;
}

.info-button-shadow-blur {
    box-shadow: inset 0 0 0px 0px rgba(33, 150, 200, 0.9),
    0 4px 4px 0 rgba(33, 150, 200, 0.3) !important;
}

.gradient-green-button {
    background: rgb(93,214,28);
    background: linear-gradient(183deg, rgba(93,214,28,1) 0%, rgba(13,126,53,1) 100%);
}

.gradient-info-button {
    background: rgb(28,100,100);
    background: linear-gradient(183deg, rgba(28,100,100,1) 0%, rgba(14,174,100,1) 100%);
}

.image-2 {
    position: fixed;
    right: -15%;
}

.pulse-btn {
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
    0% {
      transform: scale(1.1);
      box-shadow: 0 0 0 0 rgba(4, 63, 95, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(10, 192, 206, 0);
    }

    100% {
      transform: scale(1.1);
      box-shadow: 0 0 0 0 rgba(10, 192, 206, 0);
    }
  }


#canvas {
    top: 0%;
    position: fixed;
}

.hidden {
    opacity: 0;
    filter: blur(50px);
    transform: translateX(-100%);
    transition: all 1s;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}



.rounded-main-content {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.bg-image {
    background-image: url('images/Global_network_generated.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

